[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=cron-1min.sh
Comment=
Exec=/home/h/hallmon/cron-1min.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
